<li>
  <article id="article_<%=article.id%>">
    <div id="article-content">
      <div class="title">
        <h4><%= draft.title %></h4>
        <%= simple_format draft.body %>
      </div>
    </div>
  </article>
</li>