<h3 id="all-articles"><%= t(:'.all_articles') %></h3>
<ul id="articles" class="unstyled">
  <% if @drafts.empty? %>
    <li><%= t(:'.no_drafts') %></li>
  <% else %>
    <% @drafts.each do |draft| %>
      <%= render partial: "draft", locals: { draft: draft } %>
    <% end %>
  <% end %>
</ul>
