<h1>All blog posts</h1>
<% unless @articles.empty? %>
  <ul id="articles" class="unstyled">
    <% @articles.each do |article| %>
      <li>
        <%= render partial: "article", locals: { article: article, with_comments: false } %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= link_to 'New Article', new_admin_article_path if can? :create, Article%>