<h1><%= t(:'.title') %></h1>
<% unless @articles.empty? %>
  <ul id="articles" class="unstyled">
    <% @articles.each do |article| %>
      <li>
        <%= render partial: "article", locals: { article: article, with_comments: false } %>
      </li>
    <% end %>
  </ul>
<% end %>
<%= link_to(t(:'.create_article'), new_admin_article_path, class: "btn") if can? :create, Article %>