<li class="comment">
  <div class = "comment-author">
    <%= comment.name %>
    <time><%= comment.created_at %></time>
    <% if can? :delete, comment  %>
      <%= link_to 'Delete', article_comment_path(@article, comment), confirm: 'Are you sure?', method: :delete %>
    <% end %>
  </div>
  <div class="comment-body">
    <%= simple_format comment.body %>
  </div>
</li>