<li class="comment">
  <div class = "comment-author">
    <%= comment.name %>
    <time><%= comment.created_at %></time>
  </div>
  <div class="comment-body">
    <%= simple_format comment.body %>
  </div>
</li>