<li class="comment">
  <div class = "comment-author">
    <%= comment.name %>
    <time><%= comment.created_at %></time>
    <% if can? :delete, comment  %>
      <%= link_to t(:'common.delete'), article_comment_path(@article, comment),
                                       confirm: t(:'.confirm_delete'),
                                       method: :delete %>
    <% end %>
  </div>
  <div class="comment-body">
    <%= simple_format comment.body %>
  </div>
</li>