<li class="comment">
  <div class = "comment-author">
    <%= comment.name %> (<%= mail_to comment.email %>)
    <time><%= l comment.created_at, format: :blog_short_time %></time>
  </div>
  <div class="comment-body">
    <%= simple_format comment.body %>
  </div>
</li>