<% unless @articles.empty? %>
  <ul id="articles" class="unstyled">
    <% @articles.each do |article| %>
      <li>
        <%= render partial: "article", locals: { article: article, detailed: false } %>
      </li>
      <% unless article == @articles.last %>
        <hr>
      <% end %>
    <% end %>
  </ul>
<% end %>
