<h1>Listing articles</h1>
<% unless @articles.empty? %>
  <ul id="articles" class="unstyled">
    <% @articles.each do |article| %>
      <li>
        <%= render partial: "article", locals: { article: article } %>
      </li>
    <% end %>
  </ol>
<% end %>
<%= link_to 'New Article', new_article_path %>