<%= link_to t(:'common.all_articles'), articles_path, id: "main-back" unless params[:search].blank? %>
<% unless @articles.empty? %>
  <ul id="articles" class="unstyled">
    <% @articles.each do |article| %>
      <li>
        <%= render partial: "article", locals: { article: article, detailed: false } %>
      </li>
      <hr>
    <% end %>
  </ul>
<% end %>
