<section class="segment profile">
  <div>
    <%= image_tag current_user.avatar_url(:small).to_s, class: "img-polaroid" %>
    <p><%= current_user.first_name %> <%= current_user.last_name %></p>
  </div>
  <%= link_to t(:'.profile_link'),  user_path(current_user) %>
</section>