<h3><%= t(:'.recent_posts') %></h3>
<% unless Article.all.empty? %>
  <ol id="recent-posts" class="unstyled">
    <% Article.all.each do |article| %>
      <li><%= link_to article.title, article_path(article) %></li>
    <% end %>
  </ol>
<% end %>