<h3>Tags</h3>
<ul id= "tags">
  <% cache('all_tags') do %>
    <% for tag in Tag.find(:all, :order => 'name') %>
      <li><%= link_to "#{tag.name}", tag_path(tag) %></li>
    <% end %>
  <% end %>
</ul>

