<%= link_to 'Back to all articles', articles_path %>

<h2>Articles with tag <%= @tag.name %></h2>

<% unless @articles.empty? %>
  <ul id="articles" class="unstyled">
    <% @articles.each do |article| %>
      <li>
        <%= render partial: "articles/article", locals: { article: article, with_comments: true } %>
      </li>
    <% end %>
  </ul>
<% end %>