.article-images {
  margin-bottom: 20px !important;
  li.main {
    form {
      margin: 0px;
    }
  }
  form {
    input[type='text'], textarea {
      width: 200px;
    }
  }
}

form {
  input[type='text'], textarea {
    width: 400px;
  }
}