.article-images {
  margin-bottom: 20px !important;
  li.main {
    form {
      margin: 0px;
    }
  }
  form {
    input[type='text'], textarea {
      width: 200px;
    }
  }
}

#new_article {
  width: 640px;
  textarea {
    height: 200px;
  }
}

#articles {
  margin-top: 40px;
}

form {
  input[type='text'], textarea {
    width: 400px;
  }
}