// Framework imports
@import "bootstrap";
@import "compass/css3";
@import "compass/typography";

@import "application";
@import "jquery.ui.datepicker";
@import "bootstrap-wysihtml5";

.article-images {
  margin-bottom: 20px !important;
  li.main {
    form {
      margin: 0px;
    }
  }
  form {
    input[type='text'], textarea {
      width: 200px;
    }
  }
}

form{
  textarea {
    height: 200px;
  }
}

#articles {
  margin-top: 10px;
  margin-left: 20px;
  > li {
    background-color: #F2F2F2;
  }
}

form {
  input[type='text'], input[type='password'], input[type='email'], textarea {
    width: 300px;
  }
}

#admin-new-user {
  display: none;
}

#all-articles {
  margin: 0px;
}

iframe.wysihtml5-sandbox {
  width: 610px !important;
}

#tags {
  list-style: circle;
}

.edit-in-place .icon-edit {
  display: none;
}

// ------ must be placed last
@import "bootstrap-responsive";

