
@import "jquery.ui.datepicker";

.article-images {
  margin-bottom: 20px !important;
  li.main {
    form {
      margin: 0px;
    }
  }
  form {
    input[type='text'], textarea {
      width: 200px;
    }
  }
}

form{
  textarea {
    height: 200px;
  }
}

#articles {
  margin-top: 10px;
  margin-left: 20px;
  > li {
    background-color: #eee;
  }
}

form {
  input[type='text'], textarea {
    width: 400px;
  }
}

#all-articles {
  margin: 0px;
}

iframe.wysihtml5-sandbox {
  width: 600px !important;
}
