
// Framework imports
@import "bootstrap";
@import "compass/css3";
@import "compass/typography";

// ------ Partial imports

@import "blog/admin";


// ----- Navbar

.navbar .container {
  width: 1170px;
  .nav {
    float: right;
    .divider {
      padding: 10px 0px;
    }
  }
}

// ----- Styling for articles

article {
  margin-bottom: 20px;
  > img {
  }

  section  {
    min-height: 180px;
    header h2 {
      margin: 0px;
    }
  }
  .body {
    margin-bottom:1.5em;
  }
  h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 10px;
    padding-left: 0;
  }
  h2 {
    font-size: 2em;
  }
  footer {
    p {
      margin: 0px;
    }
  }
}

// ----- Tags

#tags {
  > li form {
    display: inline-block;
    margin: 0px;
  }
}


// ----- Profile segment

section.profile {
  @include clearfix;
  div {
    img {
      float: left;
    }
    p {
      margin: 0px 0px 25px 50px;
    }
  }
}

// ----- Comments on blog-articles
#comments {
  @include border-radius(4px);
  margin-bottom: 25px;
  border: 1px solid #666;
  background: #F1F1F1;

  .comment {
    padding: 10px;
    .comment-author {
      font-weight:bold;
      time {
        font-weight: normal;
        font-size: 10px;
        color: #999;
      }
    }

    .comment-body {
    }
  }
}

#new_comment {
  input[type='text'], input[type='email'], textarea {
    width: 300px;
  }

  textarea {
    height: 6em;
  }
}

// ----- Generic styling and rules

.horizontal-list {
  @include horizontal-list
}

// ------ must be placed last
@import "bootstrap-responsive";
