
// Framework imports
@import "bootstrap";
@import "compass/css3";
@import "compass/typography";

// ------ Partial imports

@import "blog/admin";


// ----- Navbar

.navbar .container {
  width: 1170px;
  .nav {
    float: right;
    .divider {
      padding: 10px 0px;
    }
  }
}

// ---- right aside

aside {
  hr {
    margin: 10px 0px;
  }
  h3 {
    color: #888888;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    line-height: 18px;
  }
}

.recent-posts {
  li {
    @include clearfix;
    img {
      float: left;
    }
    font-size: 12px;
    h3 {
      margin: 0 0 0 280px;
      font-size: 1.5em;
    }
    h4 {
      margin: 0 0 0 78px;
      font-size: 1em;
      height: 45px;
    }
    h3, h4 {
      a {
        color: black;
      }
    }
  }
}

// ----- Styling for articles

article {
  .large-image {
    margin-bottom: 20px;
  }

  section  {
    min-height: 180px;
    header h2 {
      margin: 0px;
    }
  }
  .body {
    margin-bottom:1.5em;
  }
  h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 10px;
    padding-left: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0px;
  }
  h3 {
    font-size: 1.5em;
  }
  footer {
    p {
      margin: 0px;
    }
  }
  &.detailed {
    text-align: center;
  }
}

figure {
  figcaption {
    font-size: 12px;
    font-style: italic;
  }
}

// ----- Tags

#tags {
  > li form {
    display: inline-block;
    margin: 0px;
  }
}


// ----- Profile

section#profile-top {
  img {
    float: left;
  }
  .content {
    margin-left: 220px;
  }
}

form.edit_user {
  display: none;
}

section.profile {
  @include clearfix;
  div {
    img {
      float: left;
    }
    p {
      margin: 0px 0px 35px 60px;
    }
  }
}

// ----- Comments on blog-articles

#comment-area {
  margin-bottom: 80px;
  .comment-on-article {
    display: block;
    margin-bottom: 20px;
  }
}

#comments {
  @include border-radius(4px);
  width: 500px;
  margin-bottom: 25px;
  border: 1px solid #666;
  background: #F1F1F1;

  .comment {
    padding: 10px;
    .comment-author {
      font-weight:bold;
    }

    .comment-body {
    }
  }
}

#new_comment {
  display: none;
  input[type='text'], input[type='email'], textarea {
    width: 300px;
  }

  textarea {
    height: 6em;
  }
}

// ----- Generic styling and rules

.horizontal-list {
  @include horizontal-list
}

hr {
  margin: 20px 0px;
  border-bottom-color: #3697B3;
  border-top-color: #3697B3;
}
time {
  font-weight: normal;
  font-size: 12px;
  color: #999;
}

span.important {
  font-weight: bold;
}

p {
  font-size: 14px;
  line-height: 18px;
}

#main-back {
  display: block;
  margin-bottom: 20px;
}

// ------ must be placed last
@import "bootstrap-responsive";
