
// Framework imports
@import "bootstrap";
@import "compass/css3";
@import "compass/typography";

@import "jquery.ui.datepicker";
// ------ Partial imports

@import "blog/admin";



// ----- Navbar

.navbar .container {
  width: 1170px;
  height: 60px;
  line-height: 60px;
  .nav {
    float: right;
    > li {
      height: 60px;
      line-height: 60px;
      > a {
        padding: 0 15px;
      }
    }
  }
  .brand {
    padding: 0px;
    margin: 0px;
  }
  .form-search {
    margin: 0px 0px 0px 20px;
    float: left;
    input[type='text'] {
      width: 200px;
    }
    button {
      margin: 0px;
    }
  }
  .sign-in-icon {
    display: inline-block;
    height: 60px;
    width: 16px;
    padding: 0px 5px !important;
    &.twitter {
      background: image-url("/assets/icons/twitter_logo.png") center center no-repeat;
    }
    &.facebook {
      background: image-url("/assets/icons/facebook_logo.png") center center no-repeat;
    }
  }
}

// ----- Breadcrumb
  ul.breadcrumb {
    float: left;
    background-color: white;
    padding: 0px;
  }

// ----- right aside

aside {
  hr {
    margin: 10px 0px;
  }
  h3 {
    color: #888888;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    line-height: 18px;
  }
  #tags.horizontal-list {
    li {
      padding: 0px;
      margin-right: 5px;
    }
  }
}

.recent-posts {
  > li {
    @include clearfix;
    margin-bottom: 10px;
    img {
      float: left;
    }
    section {
      margin: 0px;
      &.with-image {
        margin-left: 280px;
      }
      .important {
        float: left;
      }
      .tags {
        float: left;
        margin-left: 5px;
      }
    }
    font-size: 12px;
    h3 {
      margin: 0px;
      font-size: 1.5em;
    }
    h4 {
      margin: 0px;
      font-size: 1em;
      height: 45px;
      &.with-image {
        margin-left: 78px;
      }
    }
    h3, h4 {
      a {
        color: black;
      }
    }
  }
}

// ----- Styling for articles

article {
  .large-image {
    margin-bottom: 20px;
  }

  section  {
    min-height: 180px;
    header h2 {
      margin: 0px;
    }
  }
  .body {
    margin-bottom:1.5em;
  }
  h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 10px;
    padding-left: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0px;
  }
  h3 {
    font-size: 1.5em;
  }
  footer {
    p {
      margin: 0px;
    }
  }
  &.detailed {
    text-align: center;
  }
}

figure {
  figcaption {
    font-size: 12px;
    font-style: italic;
  }
}

// ----- Tags

#tags {
  > li form {
    display: inline-block;
    margin: 0px;
  }
}

// ----- List and Calendar tabs -----

.content ul.nav-tabs {
  margin-bottom: 10px;
}

#calendar-section {
  display: none;

  .calendar {
    border-collapse: collapse;
    width: 100%;

    td, th {
      font-family: "Lucida Grande", arial, helvetica, sans-serif;
      font-size: 10px;
      padding: 5px;
      border: 1px solid #999;
    }

    th {
      @include box-sizing(border-box);
      background: #0088CC;
      color: white;
      text-align: center;
      width: 14.2857142857143%;
    }

    td {
      @include box-sizing(border-box);
      background: #FFF;
      color: #777;
      height: 80px;
      vertical-align: top;
      font-size: 16px;
    }

    .notmonth, .notmonth a { color: #CCC; }
    .today { background-color: #D7F2FF; }
  }

  #month {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    font-size: 22px;
    a {
      text-decoration: none;
      padding: 0 10px;
      color: #999;
    }
  }

  ul {
    font-size: 11px;
    padding-left: 15px;
    margin: 0px;
    a {
      font-size: 10px;
    }
  }
}

// ----- Profile -----

section#profile-top {
  img {
    float: left;
  }
  .content {
    margin-left: 220px;
  }
}

section.profile {
  @include clearfix;
  div {
    img {
      float: left;
    }
    p {
      margin: 0px 0px 35px 60px;
    }
  }
}

// ----- Comments on blog-articles

#comment-area {
  margin-bottom: 80px;
  .comment-on-article {
    display: block;
    margin-bottom: 20px;
  }
}

#comments {
  @include border-radius(4px);
  width: 500px;
  margin-bottom: 25px;
  border: 1px solid #666;
  background: #F1F1F1;

  .comment {
    padding: 10px;
    .comment-author {
      font-weight:bold;
    }

    .comment-body {
    }
  }
}

#new_comment {
  display: none;
  input[type='text'], input[type='email'], textarea {
    width: 300px;
  }

  textarea {
    height: 6em;
  }
}

// ----- Media queries for different devices

@media (min-width: 1200px) {
  // Large screens
  #calendar-section hr {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  //Tablet
  #calendar-section hr {
    display: none;
  }
}

@media (max-width: 767px) {
  //Mobile
  #calendar-section hr {
    display: block;
  }
}

// ----- Generic styling and rules

.horizontal-list {
  @include horizontal-list
}

hr {
  margin: 20px 0px;
  border-bottom-color: #3697B3;
  border-top-color: #3697B3;
}
time {
  font-weight: normal;
  font-size: 12px;
  color: #999;
}

span.important {
  font-weight: bold;
}

p {
  font-size: 14px;
  line-height: 18px;
}

#main-back {
  display: block;
  margin-bottom: 20px;
}


// ----- Image dimensions

section.profile {
  img {
    height: 40px;
    width: 45px;
    overflow: hidden;
  }
}

section#profile-top {
  img {
    height: 200px;
    width: 200px;
    overflow: hidden;
  }
}

aside ol.recent-posts {
  img {
    height: 45px;
    width: 68px;
    overflow: hidden;
  }
}

ul.recent-posts.profile {
  img {
    height: 180px;
    width: 270px;
    overflow: hidden;
  }
}

#articles article img {
  height: 180px;
  width: 270px;
  overflow: hidden;
}

// ------ must be placed last
@import "bootstrap-responsive";
