<a class="brand" href="#">Title</a>
<%= current_user.email unless current_user.blank? %>
<ul class="nav">
  <% if user_signed_in?%>
    <li><%= link_to "Log out", destroy_user_session_path %></li>
  <% end %>
</ul>
